.scale-up-top {
    animation: scale-up-top 0.4s;
}

@keyframes scale-up-top {
    0% {
        transform: scale(.5);
        transform-origin: center top
    }

    100% {
        transform: scale(1);
        transform-origin: center top
    }
}

.frase-central {
    text-align: center;
}